- name: deploy
  hosts: web
  become: yes
  tasks:
    - name: copy
      copy:
        src: "var/snap/jenkins/4874/workspace/mvnans2/target/mvnans2.war"
        dest: "/opt/tomcat/webapps/mvnans2.war"
        remote_src: no
        
    - name: restart tomcat
      systemd:
         name: tomcat
         state: restarted
